.-research-outer-wrapper {
  border: 1px solid #deebf7;
  padding: 0;
  margin-top: 20px; }
  .-research-outer-wrapper .-research-header {
    font-size: 18px;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: #ffc000;
    background-color: #004080; }
  .-research-outer-wrapper .-research-body {
    padding: 20px; }
  .-research-outer-wrapper .-research-refs {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px; }
    .-research-outer-wrapper .-research-refs .-research-refs-header {
      font-weight: bold;
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ffc000; }
    .-research-outer-wrapper .-research-refs .-research-refs-item {
      padding-top: 10px; }
      .-research-outer-wrapper .-research-refs .-research-refs-item .-research-refs-authors {
        margin-top: 5px; }
      .-research-outer-wrapper .-research-refs .-research-refs-item .-research-refs-address {
        margin-top: 5px;
        font-style: italic; }
        .-research-outer-wrapper .-research-refs .-research-refs-item .-research-refs-address .-research-refs-year {
          font-weight: bold; }
