.-research-outer-wrapper {
  padding: 0;
  margin-top: 20px;
  text-align: center; }
  .-research-outer-wrapper .modal-body {
    text-align: justify; }
  .-research-outer-wrapper .-app-titles {
    color: #ffc000;
    margin: 40px 0; }
  .-research-outer-wrapper .card {
    margin-bottom: 20px;
    box-shadow: 0 5px 10px -6px black; }
  .-research-outer-wrapper .card-title {
    min-height: 100px; }
  .-research-outer-wrapper .-research-header {
    font-size: 18px;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: #ffc000;
    background-color: #004080; }
  .-research-outer-wrapper .-research-body {
    padding: 20px; }
    .-research-outer-wrapper .-research-body .-research-body-content {
      text-align: justify; }
  .-research-outer-wrapper .-research-body-img {
    text-align: center;
    padding-bottom: 20px; }
    .-research-outer-wrapper .-research-body-img img {
      width: 450px; }
  .-research-outer-wrapper .-research-read-btn {
    background-color: #ffc000;
    color: #ffffff; }
  .-research-outer-wrapper .-research-read-btn:hover {
    background-color: #ebb100;
    color: #ffffff; }
  .-research-outer-wrapper .-research-refs {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px; }
    .-research-outer-wrapper .-research-refs .-research-refs-header {
      font-weight: bold;
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ffc000; }
    .-research-outer-wrapper .-research-refs .-research-refs-item {
      padding-top: 10px; }
      .-research-outer-wrapper .-research-refs .-research-refs-item .-research-refs-authors {
        margin-top: 5px; }
      .-research-outer-wrapper .-research-refs .-research-refs-item .-research-refs-address {
        margin-top: 5px;
        font-style: italic; }
        .-research-outer-wrapper .-research-refs .-research-refs-item .-research-refs-address .-research-refs-year {
          font-weight: bold; }
