@import '../styles/global.scss';

a.-publications-item{
    text-decoration: none;
    display: block;
    border-top: 0.5px solid $secondary-color;
    border-bottom: 0.5px solid $secondary-color;
    min-height: 150px;
    padding: 20px;

    .-publications-title{
        font-weight: bold;
    }

    .-publications-authors{
        margin-bottom: 5px;
    }

    .-publications-journal{
        font-style: italic; 
    }

    .-publications-year{
        font-weight: bold;
    }

    .-publications-volume{
        font-style: italic; 
    }
}

.-publications-item:hover{
    color: inherit;
    transition: 0.3s;
    background-color: $secondary-color;
}