a.-publications-item {
  text-decoration: none;
  display: block;
  border-top: 0.5px solid #deebf7;
  border-bottom: 0.5px solid #deebf7;
  min-height: 150px;
  padding: 20px; }
  a.-publications-item .-publications-title {
    font-weight: bold; }
  a.-publications-item .-publications-authors {
    margin-bottom: 5px; }
  a.-publications-item .-publications-journal {
    font-style: italic; }
  a.-publications-item .-publications-year {
    font-weight: bold; }
  a.-publications-item .-publications-volume {
    font-style: italic; }

a.-publications-unfocus {
  background-color: #deebf7; }
