@import '../../styles/variables.scss';

.-supervisor-outer-wrapper{
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 5px;
}

.-supervisor-image{
    float: left;
    width: 150px;
    margin-right: 20px;
}

.-supervisor-contact{
    border-left: 1px solid $success-color;

    p{
        margin-bottom: 10px;
    }
}

.-supervisor-name{
    font-weight: bold;
}

.-supervisor-rank{
    font-style: italic;
    margin-bottom: 10px;
}

.-supervisor-title{
    margin-bottom: 20px;
}

@media only screen and (max-width: 786px){
    .-supervisor-outer-wrapper .-supervisor-image{
        display: none;
    }
}