.-supervisor-outer-wrapper {
  background-color: #deebf7;
  padding: 20px; }
  .-supervisor-outer-wrapper p {
    padding: 0;
    margin: 0; }

.-supervisor-image {
  float: left;
  width: 150px;
  margin-right: 20px; }

.-supervisor-contact {
  border-left: 1px solid #ffc000; }
  .-supervisor-contact p {
    margin-bottom: 10px; }

@media only screen and (max-width: 786px) {
  .-supervisor-outer-wrapper .-supervisor-image {
    display: none; } }
