@import '../../styles/global.scss';

.-researchers-item-wrapper{
    padding:0;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

    .-researchers-inner-wrapper{
        background-color: $secondary-color;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 6px 10px -6px black;

        .-researcher-image{
            width: 100px;
            height: 135px;
            float: left;
            margin-right: 20px;
        }
    }
}

.-researcher-text{
    margin-left: 20px;
}

.-researcher-name{
    font-weight: bold;
}

.-researcher-rank{
    font-style: italic;
    margin-bottom: 10px;
}

@media only screen and (max-width: 786px){
    .-researchers-item-wrapper .-researcher-image{
        display: none;
    }
}