.-news-border {
  height: 50px;
  width: 50px;
  border-left: 1px solid #ffc000;
  border-bottom: 1px solid #ffc000; }

.-news-inner-wrapper {
  padding-left: 60px;
  margin-top: -10px; }
  .-news-inner-wrapper .-news-date {
    color: #deebf7;
    font-style: italic; }
