body, html {
  height: 100%;
  overflow-x: hidden; }

.-app-wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 250px; }
  .-app-wrapper .-app-title {
    color: #ffc000;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 50px; }
