@import './styles/variables.scss';

body, html{
    height: 100%;
    overflow-x: hidden;
}

.-app-wrapper{
    position:relative;
    min-height: 100%;
    padding-bottom: 250px;

    .-app-titles{
        color: $success-color;
        margin-top: 40px;
    }
}