@media screen and (min-width: 768px) {
  .-nav-wrapper {
    background-color: rgba(0, 0, 0, 0.4); }

  .-nav-link {
    position: relative; }

  .-nav-link::before {
    content: "";
    background: #ffc000;
    display: block;
    height: 16px;
    position: absolute;
    top: 14px;
    left: 0px;
    width: 1px; }

  .-nav-link:first-child::before {
    display: none; } }
@media screen and (max-width: 768px) {
  .-nav-inner-wrapper {
    display: none; }

  .-nav-wrapper {
    height: 60px;
    background-color: #004080; }
    .-nav-wrapper .-nav-icon {
      display: block; }

  .-nav-link::before {
    display: none; } }
.-nav-wrapper {
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 1000;
  width: 100%; }
  .-nav-wrapper .-nav-brand {
    float: left;
    margin-left: 40px;
    padding: 0; }
    .-nav-wrapper .-nav-brand img {
      margin: 0;
      width: 120px; }
  .-nav-wrapper .-nav-inner-wrapper {
    margin-top: 30px;
    margin-right: 40px;
    float: right;
    color: #ffffff; }
    .-nav-wrapper .-nav-inner-wrapper .-nav-link {
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      color: #ffffff; }
    .-nav-wrapper .-nav-inner-wrapper .-nav-link:hover {
      transition: 0.4s;
      color: #ffc000;
      cursor: pointer; }

.-nav-icon {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  color: #ffffff; }

.-nav-toggler {
  display: block;
  position: absolute;
  top: 30px;
  right: -40px;
  background-color: rgba(0, 64, 128, 0.8);
  float: none;
  text-align: left;
  width: 200px; }
  .-nav-toggler .-nav-link {
    display: block;
    text-align: left !important; }
  .-nav-toggler .-nav-link:hover {
    color: #004080 !important;
    background-color: rgba(255, 192, 0, 0.8); }
