@import '../bootstrap/variables.scss';

.-outer-wrapper{
    font-size: 14px;
    
    min-height: 200px;   
    padding-top: 30px;
    
    position: absolute;
    bottom:0;
    left:0;
}

.-address{
    padding-right: 50px;
    padding-bottom: 20px;
    .view-on-map{
        margin-top: 10px;
    }
}

.-contact{
    div{
        // padding-left: 10px;
        padding-bottom: 22px;
    }
}

.-icon{
    font-size: 18px;
    margin-right: 10px;
}

.-footer-nav{
    border-left: 1px solid $success-color;
    color: $success-color;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li{
        padding-bottom: 10px;
    }
}


